@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hong-bg: #000;
  --hong-fg: #fff;

  --accent-1: #111;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-red-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}

::selection {
  @apply bg-[rgba(249660.2)] text-[#ff4c4c];
}

* {
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}
