@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --emphasis: rgba(139, 140, 141, 0.08);
  --brand: theme('colors.blue.500');
}

html.dark {
  --emphasis: rgba(165, 165, 167, 0.08);
  --brand: theme('colors.blue.400');
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.blue.500');
  transition: 0.25s;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::selection {
  background-color: var(--emphasis);
  color: var(--brand);
}
